.ChatListItem {
  width: 100%;

  & + .ChatListItem {
    margin-top: 2px;
  }

  .ChatListItem__Item {
    width: 294px;
    height: 64px;
    border-radius: 5px;
    padding: 13px 15px;

    &:hover {
      background-color: #f4f4f4;
    }
  }
}
